.theme-light {
  background-color: #fcfcfc;
  color: #333;

  h1 {
    background-color: #fff;
    color: #de5959;
    padding: 20px 0;
  }
}

.theme-dark {
  background-color: #111;
  color: #fff;

  h1 {
    background-color: #111;
    color: #f5ff32;
  }
}

h1 {
  padding: 20px 0;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  color: #333;
  text-decoration: none;
}
