{% extends "layouts/base.njk" %}

{% set lastUsedYear = '' %}

{% block content %}
    <div id="search" class="search"></div>

    <ul class="archive-list">
        {% for post in pagination.items %}
            {% set postYear = post.data.date | longYear %}
            {% if postYear != lastUsedYear %}
                <h3>{{ postYear }}</h3>
                {% set lastUsedYear = postYear %}
            {% endif %}
            <li class="archive-item">
                <span class="archive-date">{{ post.data.date | shortDate }}</span>
                <a href="{{ post.url }}" class="archive-link">{{ post.data.title }}</a>
            </li>
        {% endfor %}
    </ul>
    {% include "partials/pagination.njk" %}
{% endblock %}
