{% extends "layouts/base.njk" %}

{% block content %}
    <section class="post">
    <h1 data-pagefind-meta="title">{{ title }}</h1>

        <article data-pagefind-body>
            {{ content | safe }}
        </article>
    </section>
{% endblock %}
