<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    
    {% include "partials/style_links.njk" %}
    {% include "partials/meta_info.njk" %}
    {% include "partials/favicons.njk" %}
</head>

<body>
    <header>
        {% include "partials/nav.njk" %}
    </header>
	<main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        {% include "partials/links.njk" %}
        <p>Copyright &copy; {% year %} TrozWare</p>
    </footer>

    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            new PagefindUI({ element: "#search", showSubResults: true });
        });
    </script>
    <script src="/js/theme_switcher.js"></script>
</body>
</html>
