<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    
    {% include "partials/style_links.njk" %}
    {% include "partials/meta_info.njk" %}
    {% include "partials/favicons.njk" %}
</head>

<body>
    {% include "partials/nav.njk" %}
    
	<main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        {% include "partials/links.njk" %}
        <div class="copyright">
            <p>Copyright &copy; {% year %} Sarah Reichelt, TrozWare</p>
        </div>
    </footer>

    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            let searchElement = document.getElementById('search');
            if (searchElement) {
                new PagefindUI({ element: searchElement, showSubResults: true });
            }
        });
    </script>
    <script src="/js/theme_switcher.js"></script>
    <script src="/js/clipboard.js"></script>
</body>
</html>
