{% extends "layouts/base.njk" %}

{% block content %}
    <ul class="book-list">
        {% for book in books.items %}
            <article class="book-entry">
                <h2 class="book-title"><a href="{{ book.link }}">{{ book.title }}</a></h2>
                <div class="book-content">
                    <div class="book-image">
                        <a href="{{ book.link }}"><img src="{{ book.image }}" alt="{{ book.title }}" width="200px"></a>
                    </div>
                    <div class="book-details">
                        <p>{{ book.description }}</p>
                        <p>Written by {{ book.authors }}.</p>
                        <p>Available from: <a href="{{ book.purchase_link }}">{{ book.publisher }}</a>.</p>
                        <p class="book-edition">{{ book.edition }} published {{ book.published }} for {{ book.requirements }}.</p>
                    </div>
                </div>
            </article>
            <hr>
        {% endfor %}
    </ul>
{% endblock %}
