{% extends "layouts/base.njk" %}

{% block content %}
    <ul>
        {% for post in pagination.items %}
            <li>
                <a href="{{ post.url }}">{{ post.data.title }}</a>
                {% if post.content %}
                    {% set excerpt = post.content | string %}
                    {% set parts = excerpt.split('<!--more-->') %}
                    <div class="post-excerpt">
                        {{ parts[0] | safe }}
                    </div>
                {% else %}
                    <p>{{ post.data.description | safe }}</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% include "partials/pagination.njk" %}
{% endblock %}
