{% extends "layouts/base.njk" %}

{% block content %}
    <h1 data-pagefind-meta="title">{{ title }}</h1>

    <p>
        {{ date | longDate }} • {{ content | postInfo }}
    </p>

    {% for tag in categories.sort() %}
        <a href="/tags/#{{ tag | slugify }}">{{ '#' + tag }}</a>
    {% endfor %}

    <article data-pagefind-body>
        {{ content | safe }}
    </article>
{% endblock %}
