---
permalink: 404.html
eleventyExcludeFromCollections: true
layout: layouts/article.njk
---

{% block content %}
    <h1>Sorry - I can't find that page.</h1>
      <p>Search for something else or go back to the <a href="/">home page</a>.</p>

    <div id="search" class="search"></div>
{% endblock %}
