<link href="/styles/style.css?v=2.1" rel="stylesheet" />

{% if layout == "layouts/post.njk" %}
    <link href="/styles/prism.css" rel="stylesheet" />
{% endif %}
{% if layout == "layouts/contact.njk" %}
    <link rel="stylesheet" href="/styles/contact.css" />
{% endif %}

<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js"></script>
