<link href="/styles/style.css" rel="stylesheet" />

{% if layout == "layouts/post.njk" %}
    <link href="/styles/prism.css" rel="stylesheet" />
{% endif %}
{% if layout == "layouts/contact.njk" %}
    <link rel="stylesheet" href="/styles/contact.css" />
{% endif %}

<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js"></script>
<style>
@media (prefers-color-scheme: dark) {
    :root {
    --pagefind-ui-primary: #eeeeee;
    --pagefind-ui-text: #eeeeee;
    --pagefind-ui-background: #152028;
    --pagefind-ui-border: #152028;
    --pagefind-ui-tag: #152028;
    }
}
</style>